<launch>
  <!-- Turtlebot configuration --> 
  <arg name="base"      value="$(optenv TURTLEBOT_BASE kobuki)"/> <!-- create, roomba -->
  <arg name="battery"   value="$(optenv TURTLEBOT_BATTERY /proc/acpi/battery/BAT0)"/>  <!-- /proc/acpi/battery/BAT0 --> 
  <arg name="stacks"    value="$(optenv TURTLEBOT_STACKS hexagons)"/>  <!-- circles, hexagons --> 
  <arg name="3d_sensor" value="$(optenv TURTLEBOT_3D_SENSOR kinect)"/>  <!-- kinect, asus_xtion_pro --> 
  <arg name="use_sim_time" value="true"/>
  <!-- Configuration de Gazebo pour afficher un monde --> 
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="false"/>
    <arg name="gui" value="false"/> 

    <arg name="world_name" value="$(find exploration)/worlds/little_willowgarage.world"/> 
<!--
    <arg name="world_name" value="worlds/willowgarage.world"/>
-->   
  </include>
  
  <!-- Afficher la Turtlebot dans Gazebo avec ces configuration --> 
  <arg name="urdf_file" default="$(find xacro)/xacro.py '$(find exploration)/config/urdf/$(arg base)_$(arg stacks)_$(arg 3d_sensor).urdf.xacro'" />
  <param name="robot_description" command="$(arg urdf_file)" />

  <group ns="turtlebot" >
    <include file="$(find exploration)/config/robot/robot.launch.xml" >
      <arg name="robot_name"  value="turtlebot" />
      <arg name="y" value="-0.5" />
      <arg name="o_x" value="-5.0" />
      <arg name="o_y" value="-5.0" />
    </include>
  </group>
</launch>
